main, body{
    background-color: rgb(255, 255, 255);
}
ul{
    margin-bottom: 0;
}

.nav{
    background-color: #4f81bf;
    box-shadow: #000000;
    box-shadow: 20px black;
    border: #000000;
}

.logo, logo:hover{
    color: #efb810;
    font-size: 2em;
    margin-left: 80%;
}

.nav-link, nav-link:hover{
    color:#efb810;
    font-size: 1.2em;
}